<a href="https://colab.research.google.com/github/bitprj/DigitalHistory/blob/master/Week2-Introduction-to-Python-_-NumPy/Homework/Week_2_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <div align = "center">Homework 2</div>

# <div align = "center">Python</div>

Welcome to Homework 2. In this homework you will be using techniques you learned throughout Week 2. The purpose of this homework is to ensure you've mastered the basics of Python. Feel free to refer to the cheatsheet while working through these problems.

## Grading 

Every question in this homework is worth 2 points. There are a total of 10 questions.

## Python Questions

### Q1: Create a function that, when passed two integers, calculates their product. If the product is less than 5000, return the product else return the sum.

In [ ]:
# INSERT CODE HERE

number1 = 30
number2 = 400

result = # INSERT CODE HERE
print("The result is ", result)

### Q2: Given a range of numbers from 0-19, Iterate from start to end and print the sum of the current number and previous number.

In [ ]:
def sumNum(num):
  # INSERT CODE HERE

sumNum(20)

### Q3: Given a string, display only the characters in odd indices.

In [ ]:
def printOddIndices(str):
  # INSERT CODE HERE

inputStr = "python wizard" 

print("Printing only odd index chars")
printOddIndices(inputStr)

### Q4: Given two lists, create a third list by picking odd-index elements from the first list and even index elements from the second.

In [ ]:
# INSERT CODE HERE

### Q5: Given a list slice it into a 3 equal chunks and reverse each list. You can assume the list will have a length evenly divisible by 3.

EXPECTED OUTPUT:
Chunk  1 [91, 52, 84]

After reversing it  [84, 52, 91]

Chunk  2 [5, 92, 85]

After reversing it  [85, 92, 5]

Chunk  3 [27, 48, 30]

After reversing it  [30, 48, 27]

In [ ]:
# INSERT CODE HERE

### Q6: Given a list, iterate it, count the occurrence of each element and then create a dictionary to display the count of each element.

EXPECTED OUTPUT:

Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]

Count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
# INSERT CODE HERE

### Q7: Print this pattern.
1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5 

1 2 3 4 5 6 

1 2 3 4 5 6 7 

1 2 3 4 5 6 7 8 

1 2 3 4 5 6 7 8 9 

1 2 3 4 5 6 7 8 9 10

In [ ]:
# INSERT CODE HERE

### Q8: Given a number, count the total number of digits and display it.

In [ ]:
# INSERT CODE HERE

### Q9: Given two strings, create a new string by appending the second string in the middle of the first one.

EXPECTED OUTPUT:

Original Strings are:  Shila angr

After appending new string in middle:  Shangrila

In [ ]:
def appendMiddle(s1, s2):
  # INSERT CODE HERE
  
appendMiddle("Shila", "angr")

### Q10: Rearrange a string such that lowercase letters come first.

EXAMPLE INPUT: "SpOnGeBoB"

EXPECTED OUTPUT: "pneoSOGBB"

In [ ]:
# INSERT CODE HERE