# Advanced Data Wrangling with Pandas
- 1.0 - Now Try This
- 2.0 - Now Try This
- 3.0 - Now Try This
- 4.0 - Now Try This
- 5.0 - Now Try This


## Practical Exercise
- 6.0 - Now Try This
- 7.0 - Now Try This
- 8.0 - Now Try This
- 9.0 - Now Try This

## 1.0 - Now Try This
Sort the series by index in a descending order.

### Answer:

In [ ]:
s.sort_index(ascending=False)

## 2.0 - Now Try This

Access the items in the index of 3-5 (inclusive) using index operation.

### Answer:

In [ ]:
s[3:6]

## 3.0 - Now Try This

Retrieve an element that corresponds to index 'd'

In [ ]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

### Answer:

In [ ]:
s['d']

## 4.0 - Now Try This

Write down what this code will return on a piece of paper.
Compare your answer with the output of the code.

In [ ]:
s1 * s2

## 5.0 - Now Try This

Let's find people who are younger than 30 years old AND have high income.

(Hint: Make sure to use ```()``` on each condition.)

### Answer:

In [ ]:
emp[(emp['High Income'] == True) & (emp['Age'] < 30)]

# Practical Exercise

## 6.0 - Now Try This

Let's retrieve unique airline codes (```OP_UNIQUE_CARRIER```) from the dataframe.

### Answer:

In [ ]:
flight[['OP_UNIQUE_CARRIER']].drop_duplicates()

## 7.0 - Now Try This

- Use ```merge``` function to join ```airline``` dataframe to ```flight``` dataframe.
- Name the resulting dataframe as ```flight_airline```.
- Print ```flight_airline``` and make sure that this dataframe has airline codes AND airline names!

(Hint: what are the common column names between two dataframes? Are the column names same?)

### Answer:

In [ ]:
flight_airline = pd.merge(flight, airline, left_on='OP_UNIQUE_CARRIER', right_on='carrier')
flight_airline

## 8.0 - Now Try This

Calculate sum of ARR_DEL15 using the groupby function and sort the dataset in a descending order.

### Answer:

In [ ]:
flight_airline.groupby(['carrier'])['ARR_DEL15'].sum().sort_values(ascending=False)

## 9.0 - Now Try This

- Using ```drop_duplicates()``` function, find a unique set of airport codes and airport names 
- Save the dataframe as ```airport_names```.

### Answer:

In [ ]:
airport_names = airport_codes[["airport", "airport_name"]].drop_duplicates()
airport_names