<a href="https://colab.research.google.com/github/ShayanRiyaz/DigitalHistory/blob/Shayan/Week5-Visualizing-the-Translatlantic-Slave-Trade/Week5-Visualize-Trans-Atlantic-Slave-Trade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualizing the Trans-Atlantic Slave Trade - Key

## Table of Contents

- Recap
- About the Dataset
    - The Transatlantic Slave Trade
        - Facts about the dataset
- Labs and Methodology
- Goals
- **Part 1 - Getting Our Basic Data Analysis Set-Up**
    - Import Libraries and unpack file
    - Load file
    - Observing the Dataset using Pandas
    - Important Facts About the Dataset
    - Visualize Year of Arrival vs Number of Slaves arrived
- **Part 2 - Getting Started with Data Wrangling**
    - Create a copy of the Original Dataset
    - Changing Column Names
    - Moving Column Positions - ```df.reindex()```
    - Remove Voyage ID -```df.drop()```
    - Using ```dropna()```
    - Changing Column Type and Sorting - ```df.sort_values()```
    - Finding Unique and similar strings 
    - Working with Strings - ```df['column_name'].str.replace()```
- **Part 3 - Micro Wrangling and Visualization**
    - Between 1500 - 1600
    - Between 1601 - 1700
    - Between 1701 - 1800
    - Between 1801 - 1900
- **Part 4 - Conclusion**
- Resources
- Appendix

## Recap
- By this time, you should have an understanding and practice on how to implement the following:
- Loading a Dataset '.csv' as a dataframe using ```pd.read_csv```
- Observing the properties of the loaded dataset using functions such as:
    - ```pd.head()```
    - ```pd.describe()```
    - ```pd.info()```
- Modifying the dataset by removing ```NaN``` values.
- A conceptual understanding of the term ```object``` in DataFrames.
- Re-indexing columns
- Visualizing Data using ```matplotlib``` and ```pandas```:
    - Scatter plots
    - Barplots
    - Line plots
    - Histograms

## About the Dataset

### The Trans-Atlantic Slave Trade

It is difficult to believe in the first decades of the twenty-first century that just over two centuries ago, for those Europeans who thought about the issue, the shipping of enslaved Africans across the Atlantic was morally indistinguishable from shipping textiles, wheat, or even sugar. Our reconstruction of a major part of this migration experience covers an era in which there was massive technological change (steamers were among the last slave ships), as well as very dramatic shifts in perceptions of good and evil. Just as important perhaps were the relations between the Western and non-Western worlds that the trade both reflected and encapsulated. Slaves constituted the most important reason for contact between Europeans and Africans fornearly two centuries. The shipment of slaves from Africa was related to the demographic disaster consequent to the meeting of Europeans and Amerindians, which greatly reduced the numbers of Amerindian laborers and raised the demand for labor drawn from elsewhere, particularly Africa. As Europeans colonized the Americas, a steady stream of European peoples migrated to the Americas between 1492 and the early nineteenth century. But what is often overlooked is that, before 1820, perhaps three times as many enslaved Africans crossed the Atlantic as Europeans. This was the largest transoceanic migration of a people until that day, and it provided the Americas with a crucial labor force for their own economic development. The slave trade is thus a vital part of the history of some millions of Africans and their descendants who helped shape the modern Americas culturally as well as in the material sense.

The details of the more than 36,000 voyages presented here greatly facilitate the study of cultural, demographic, and economic change in the Atlantic world from the late sixteenth to the mid-nineteenth centuries. Trends and cycles in the flow of African captives from specific coastal outlets should provide scholars withnew, basic information useful in examining the relationships among slaving, warfare—in both Africa and Europe—political instability, and climatic and ecological change, among other forces. 

#### Facts about the dataset

- The dataset approximatey 36,110 trans-Atlantic voyages.
- The estimates suggest around 12,520,000 captives departed Afriva to the Americas. 

- Not all 36,000 voyages in the database carried slaves from Africa.
- A total of 633 voyages (1.8%) never reached the African coast because they were lost at sea, captured or suffered some other misfortune. 
- The database also contains records of 34,106 voyages that disembarked slaves, or could have done so (in other words, for some of these we do not know the outcome of the voyage).

- The latter group comprised mainly ships captured in the nineteenth century which were taken to Sierra Leone and St. Helena as part of the attempt to suppress the trade.

## Labs and Methodoloy
Congratulations you have made it to the first lab of this course. The ideas of these labs is to help you apply the Data Science pipeline in a project based environment. You will be using the tools taught to you in the previous modules and adopt and Question and Answer based approach when you work with the dataset.
We have divided our approach into 4 parts:
- The first part is the traditonal set up every. data scientist should do before modifying the dataset.
- The second part involves clearning the the dataset and choosing columns that fit our methdology.
- The third part involves futher splitting our cleaned dataframe into smaller dataframes and visualiztion them.
- Finally, the fourth part involves summarizing our conclusion.


## Goals

## 1 - Getting Our Basic Data Analysis Set-Up

In [ ]:
import pandas as pd
import numpy as np

### 1.1 Load file

In [ ]:
url = 'https://raw.githubusercontent.com/bitprj/DigitalHistory/master/Week5-Visualizing-the-Translatlantic-Slave-Trade/data/trans-atlantic-slave-trade.csv'

trans_atlc_trade = pd.read_csv(url)

### Observing the Dataset using Pandas

Now, the dataset is loaded as a dataframe 'trans_atlc_trade'

### 1.2 head()
Let's check what columns this file has by calling 'head()' function.
It returns first n rows, and it's useful to see the dataset at a quick glance.

By default, the head() function returns the first 5 rows.

You can specify the number of rows to display by calling df.head(number)

In [ ]:
trans_atlc_trade.head()

### 1.3 tail()

In [ ]:
trans_atlc_trade.tail()

### 1.4 info()
This will return all of the column names and its types. This function is useful to get the idea of what the dataframe is like.

In [ ]:
trans_atlc_trade.info()

### 1.5 describe()
describe() is used to view summary statistics of numeric columns. This will help you to have general idea of the dataset.

In [ ]:
trans_atlc_trade.describe()

### shape
To see the size of the dataset, we can use shape function, which returns the number of rows and columns in a format of (#rows, #columns)

In [ ]:
trans_atlc_trade.shape

### 1.6 Important Facts About the Dataset

In [ ]:
Unaccounted_trips = trans_atlc_trade['Slaves arrived at 1st port'].isna().sum()
print(f'The total number of unaccounted trips is:  {Unaccounted_trips}')

In [ ]:
number_of_slaves_accounted = trans_atlc_trade['Slaves arrived at 1st port'].sum()
print(f'The total number of slaves accounted for are: {number_of_slaves_accounted}')

Historical Estimates suggest that the total number of slave traded are estimated to be ~12.5 Million. This means that according to this dataset:
- Around ```7436701``` slaves are not accounted for. *(12500000 - 5063299)*

### Visualize Year of Arrival vs Number of Slaves arrived

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
trans_atlc_trade.plot(x = 'Year of arrival at port of disembarkation',
        y = 'Slaves arrived at 1st port',
        kind = 'scatter',
        c = 'Slaves arrived at 1st port',
        title = 'Year of arrival at port of disembarkation vs Slaves arrived at 1st port',
        alpha = 0.3,cmap = plt.get_cmap('ocean'),
        colorbar = True,
        figsize = (20,10)
       )

## Part 2 - Getting Started with Data Wrangling

### Create a copy of the Original Dataset

In [ ]:
df = trans_atlc_trade.copy()

### 2.1 Changing Column Names

In [ ]:
list(df.columns)

### 2.2 Column List

In [ ]:
df = df.rename(
    columns={'Voyage ID': 'voyage_id',
        'Vessel name': 'vessel_name',
                           'Voyage itinerary imputed port where began (ptdepimp) place': 'voyage_started',
                           'Voyage itinerary imputed principal place of slave purchase (mjbyptimp) ': 'voyage_pit_stop',
                           'Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place': 'end_port',
                           'Year of arrival at port of disembarkation':'year_of_arrival',
                           'Slaves arrived at 1st port':'slaves_onboard',
                            'Captain\'s name' : 'captain_names'
            })


df

### 2.3 Moving Column Positions - ```df.reindex()```

In [ ]:
column_names = ['voyage_id',"year_of_arrival","vessel_name", "voyage_started","voyage_pit_stop", "end_port","slaves_onboard"]

df = df.reindex(columns=column_names)
df

**Questions**

**Is Voyage ID a good index and do we need it as a column?**

No, But we need an index.

**Can 'year_of_arrival' be an Index?**

No, because there are repeating dates in the charts, there for we need a simple log counter.

### 2.4 Remove Voyage ID -```df.drop()```

Now that we have a new index from 0 to 15299.

Do we need ```voyage_id```. I don't think so, because it doesn't help us find anything useful. Every Voyage ID is unique.

Next, drop this columnn

In [ ]:
df = df.drop(columns='voyage_id')
df

### Using ```dropna()```

For this data set we will be working with trips that were completely accounted for in all of the remaining features.

In [ ]:
df = df.dropna()
df

In [ ]:
df.info()

### 2.5 Changing Column Type and Sorting - ```df.sort_values()```

In [ ]:
df = df.sort_values(by='year_of_arrival', ascending=True)
df

### 2.6 Reseting the Index
Reseting Index againt with 'year_of_arrival' in Ascending Order.

In [ ]:
df.reset_index(inplace=True, drop=True)
df

### Finding Unique and similar strings 
```df['column_name].unique()``` and ```df.sort()```

In [ ]:
a = df['voyage_started'].unique()
a.sort()
a

In [ ]:
a = df['voyage_pit_stop'].unique()
a.sort()
a

In [ ]:
a = df['end_port'].unique()
a.sort()
a

### Working with Strings - ```df['column_name'].str.replace()```

To replace unwanted parts a string we use the function ```df['columun_name'].str.replace('string to find','string to replace')```. This command looks for the string we have specified and replaces with what we want.

For example:
If have an entry in the 'voyage_started' column, 'Virginia, port unspecified'. By running the command:
```df['voyage_started'].str.replace(', port unspecified', '')```
The string will be changed from ''Virginia, port unspecified' to 'Virginia'.

In [ ]:
df['voyage_started'] = df['voyage_started'].str.replace(', port unspecified', '')
df['voyage_started'] = df['voyage_started'].str.replace(', colony unspecified', '')
df['voyage_started'] = df['voyage_started'].str.replace('.', '')

df['voyage_pit_stop'] = df['voyage_pit_stop'].str.replace(', port unspecified', '')
df['voyage_pit_stop'] = df['voyage_pit_stop'].str.replace(', colony unspecified', '')
df['voyage_pit_stop'] = df['voyage_pit_stop'].str.replace('.', '')

df['end_port'] = df['end_port'].str.replace(', port unspecified', '')
df['end_port'] = df['end_port'].str.replace(', colony unspecified', '')
df['end_port'] = df['end_port'].str.replace('.', '')
df['end_port'] = df['end_port'].str.replace(' (colony unspecified)', '')
df['end_port'] = df['end_port'].str.replace(', unspecified', '')
df['end_port'] = df['end_port'].str.replace(',unspecified', '')

df

In [ ]:
df.dtypes

#### Creating a Copy of our modified Dataset

In [ ]:
modified_dataset = df.copy()

## 3 - Micro Wrangling and Visualization

We will Start of this part by dividing our dataset into multiple smaller dataframes. The approach we will be taking is separating dataframes based on the ```year_of_arrival``` dataset.

For example, in the blocks below you will see code for 4 intervals:
- ```1500 to 1600```
- ```1601 to 1700```
- ```1701 to 1800```
- ```1801 to 1900```

## Between 1500 to 1600

In [ ]:
dataset_between15_16 = modified_dataset.where((modified_dataset['year_of_arrival'] >= 1500) & (modified_dataset['year_of_arrival'] <= 1600))
dataset_between15_16

In [ ]:
dataset_between15_16 = dataset_between15_16.dropna()
dataset_between15_16

### Total Number of Slaves Transported between 1501-1600 - Complete Records

In [ ]:
dataset_between15_16.slaves_onboard.sum()

### Visualizing Trips During 1501-1601

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize = (20,10))

ax1 = fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
ax4 = fig.add_subplot(2,2,4)
ax1.scatter(dataset_between15_16['year_of_arrival'],
            dataset_between15_16['slaves_onboard'],
            alpha = 0.4)

ax2.scatter(dataset_between15_16['slaves_onboard'],
            dataset_between15_16['year_of_arrival'],
            alpha = 0.4)

ax3.bar(
    dataset_between15_16['year_of_arrival'],
    dataset_between15_16['slaves_onboard'],
    alpha = 0.4)

ax4.set_ylim(1500,1600)
ax4.bar(
    dataset_between15_16['slaves_onboard'],    
    dataset_between15_16['year_of_arrival'],
    alpha = 0.4)

#  3.1 Choosing Graphs
- Which of these graphs seem useful and which ones are uncessrary?
**Write a 2 sentence explanation about why these two plots seem or might be useful.** **Did the visualization style influence your decision?**
Select the two graphs you think are more useful and add the following:
- add ```set_title``` for both suplots.
- add ```set_xlabel``` and ```set_ylabel```.
- Change the color for one of the plots

## Answer

The graphs that make the most sense are the two on the left, this is because they show clear, explainable data.

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize = (20,10))

ax1 = fig.add_subplot(2,1,1)
ax2 = fig.add_subplot(2,1,2)

ax1.scatter(dataset_between15_16['year_of_arrival'],
            dataset_between15_16['slaves_onboard'],
            alpha = 0.4)
ax1.set_title('Scatter plot for year of arrival vs slaves on board for 1501-1600')
ax1.set_xlabel('Year of Arrival')
ax1.set_ylabel('Slaves Onboard')

ax2.bar(dataset_between15_16['year_of_arrival'],
            dataset_between15_16['slaves_onboard'],
            alpha = 0.4)

ax1.set_title('Bar plot for year of arrival vs slaves on board for 1501-1600')
ax1.set_xlabel('Year of Arrival')
ax1.set_ylabel('Slaves Onboard')

### Pandas Plots

In [ ]:
fig = plt.figure(figsize = (50,20))
ax1 = fig.add_subplot(2,2,1)

dataset_between15_16.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar', ax = ax1,
                         rot = 90)

### Ships Carrying Less than 100 slaves per trip

In [ ]:
temp_plot = dataset_between15_16.where(dataset_between15_16['slaves_onboard'] < 100.0).dropna()

temp_plot

In [ ]:
temp_plot.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar',
                         rot = 90)

### Ships Carrying greater than 100 slaves per trip

In [ ]:
temp_plot = dataset_between15_16.where(dataset_between15_16['slaves_onboard'] > 100.0).dropna()

temp_plot.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar',
                         rot = 90,grid = True,figsize = (20,10))

temp_plot

### Ships Carrying greater than 200 slaves per trip

In [ ]:
temp_plot = dataset_between15_16.where(dataset_between15_16['slaves_onboard'] > 200.0).dropna()
print(f'There are {temp_plot.shape[0]} trips that carries more than 200 slaves.')

In [ ]:
temp_plot.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar',
                         rot = 90,grid = True,figsize = (20,10))

### Check the most used 'start_port' for number_of_slaves > 200

In [ ]:
temp_plot['voyage_started'].hist(bins = 20,
                                 alpha = 0.5,
                                 xrot = 45,
                                 figsize = (10,10)
                                )

### Check the most used 'voyage_pit_stop' for number_of_slaves > 200

In [ ]:
temp_plot['voyage_pit_stop'].hist(bins=20, 
                           alpha=0.7,
                           xrot = 0,
                          figsize = (10,10))

### Check the most used 'End_Port'  for number_of_slaves > 200

In [ ]:
temp_plot['end_port'].hist(bins=20, 
                           alpha=0.7,
                           xrot = 0,
                          figsize = (10,10))

### Observations 

Majority of The Ships carrying over 200 people started their journey Portugal made a Pit-Stop in Africa and Went to Cartagena, Colombia

## Between 1601- 1700

In [ ]:
dataset_between16_17 = modified_dataset.where((modified_dataset['year_of_arrival'] >= 1601) & (modified_dataset['year_of_arrival'] <= 1700) )

dataset_between16_17

### 3.2 Drop Null values

In [ ]:
dataset_between16_17 = dataset_between16_17.dropna()
dataset_between16_17

### 3.3 Total Number of Slaves Transported between 1601-1700 - Complete Records

In [ ]:
dataset_between16_17.slaves_onboard.sum() # Insert Code Here - Sum of slaves

### Visualizing Trips During 1601-1701

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize = (20,10))

ax1 = fig.add_subplot(2,1,1)
ax2 = fig.add_subplot(2,1,2)

ax1.scatter(dataset_between16_17['year_of_arrival'],
            dataset_between16_17['slaves_onboard'],
            alpha = 0.4)

ax2.bar(
    dataset_between16_17['year_of_arrival'],
    dataset_between16_17['slaves_onboard'],
    alpha = 0.4
    )

### 3.4 Pandas Plots

In [ ]:
fig = plt.figure(figsize = (50,20))
ax1 = fig.add_subplot(2,2,1)

dataset_between16_17.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar', ax = ax1,
                         rot = 90)

### 3.5 Ships Carrying greater than 500 slaves per trip

In [ ]:
temp_plot = dataset_between16_17.where(dataset_between16_17['slaves_onboard'] > 500.0).dropna()
print(f'There are {temp_plot.shape[0]} trips that carries more than 200 slaves.')

In [ ]:
temp_plot.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar',
                         rot = 90,grid = True,figsize = (20,10))

### 3.6 Check the most used 'start_port' for number_of_slaves > 500

In [ ]:
temp_plot['voyage_started'].hist(bins = 20,
                                 alpha = 0.5,
                                 xrot = 90,
                                 figsize = (10,10)
                                )

### 3.7 Check the most used 'voyage_pit_stop' for number_of_slaves > 500

In [ ]:
temp_plot['voyage_pit_stop'].hist(bins=20, 
                           alpha=0.7,
                           xrot = 90,
                          figsize = (10,10))

### 3.8 Check the most used 'End_Port'

In [ ]:
temp_plot['end_port'].hist(bins=20, 
                           alpha=0.7,
                           xrot = 90,
                          figsize = (10,10))

## Between 1701- 1800

In [ ]:
dataset_between17_18 = modified_dataset.where((modified_dataset['year_of_arrival'] >= 1701) & (modified_dataset['year_of_arrival'] <= 1800) )

dataset_between17_18

In [ ]:
dataset_between17_18 = dataset_between17_18.dropna()

dataset_between17_18

### 3.9 Total Number of Slaves Transported between 1701-1800 - Complete Records

In [ ]:
dataset_between17_18.slaves_onboard.sum() # Insert Code Here - Sum of slaves

### 3.10 Visualizing Trips During 1701-1801

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize = (20,10))

ax1 = fig.add_subplot(2,1,1)
ax2 = fig.add_subplot(2,1,2)

ax1.scatter(dataset_between17_18['year_of_arrival'],
            dataset_between17_18['slaves_onboard'],
            alpha = 0.4)

ax2.bar(
    dataset_between17_18['year_of_arrival'],
    dataset_between17_18['slaves_onboard'],
    alpha = 0.4
    )

### 3.11 Pandas Plots

In [ ]:
fig = plt.figure(figsize = (50,20))
ax1 = fig.add_subplot(2,2,1)

dataset_between17_18.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar', ax = ax1,
                         rot = 90)

### 3.12 Ships Carrying greater than 500 slaves per trip

In [ ]:
temp_plot = dataset_between17_18.where(dataset_between17_18['slaves_onboard'] > 500.0).dropna()
print(f'There are {temp_plot.shape[0]} trips that carries more than 200 slaves.')

In [ ]:
temp_plot.plot(x='vessel_name',
                         y = 'slaves_onboard',kind = 'bar',
                         rot = 90,grid = True,figsize = (20,10))

### 3.13 Check the most used 'start_port' for number_of_slaves > 500

In [ ]:
temp_plot['voyage_started'].hist(bins = 20,
                                 alpha = 0.5,
                                 xrot = 45,
                                 figsize = (10,10)
                                )

### 3.14 Check the most used 'voyage_pit_stop' for number_of_slaves > 500

In [ ]:
temp_plot['voyage_pit_stop'].hist(bins=20, 
                           alpha=0.7,
                           xrot = 0,
                          figsize = (10,10))

### 3.15 Check the most used 'End_Port'

In [ ]:
temp_plot['end_port'].hist(bins=20, 
                           alpha=0.7,
                           xrot = 90,
                          figsize = (10,10))

# Extra Credit
## Between 1801- 1900

In [ ]:
dataset_between18_19 = modified_dataset.where((modified_dataset['year_of_arrival'] >= 1801) & (modified_dataset['year_of_arrival'] <= 1900) )

dataset_between18_19

In [ ]:
dataset_between18_19 = dataset_between18_19.dropna()

dataset_between18_19

### Total Number of Slaves Transported between 1801-1900 - Complete Records

### Visualizing Trips During 1801-1900

### Pandas Plots

### Check the most used 'start_port' for number_of_slaves > 200

### Check the most used 'voyage_pit_stop' for number_of_slaves > 200

### Check the most used 'End_Port'

## Resources

## Appendix

## Connecting to Your Google Drive

In [ ]:
# Start by connecting google drive into google colab

from google.colab import drive

drive.mount('/content/gdrive')

In [ ]:
!ls "/content/gdrive/My Drive/DigitalHistory"

In [ ]:
cd "/content/gdrive/My Drive/DigitalHistory/tmp/trans-atlantic-slave-trade"

In [ ]:
ls

In [ ]:
### Extracting ZipFiles

In [ ]:

import zipfile

In [ ]:
file_location = 'data/trans-atlantic-slave-trade.csv.zip'

zip_ref = zipfile.ZipFile(file_location,'r')
zip_ref.extractall('data/tmp/trans-atlantic-slave-trade')
zip_ref.close()

### Checking and Changing Column Types 
```df.dtypes``` and ```df.astype()```

In [ ]:
df.dtypes

In [ ]:
df.year_of_arrival.astype(int)

In [ ]:
df.dtypes

In [ ]:
df.year_of_arrival = df.year_of_arrival.astype(int)

In [ ]:
df.dtypes

**Extra**:
```df.slaves_onboard = df.slaves_onboard.astype(int)```

In [ ]:
df.slaves_onboard = df.slaves_onboard.astype(int)

In [ ]:
df.dtypes

In [ ]:
df

### GeoTagging Locations

In [ ]:
!pip install geopandas

In [ ]:
!pip install googlemaps

In [ ]:
from googlemaps import Client as GoogleMaps
import pandas as pd

In [ ]:
gmaps = GoogleMaps('')# ENTER KEY

In [ ]:
df

In [ ]:
addresses = df.filter(['Voyage itinerary imputed port where began (ptdepimp) place'], axis=1)
addresses.head()

In [ ]:
addresses['long'] = ""
addresses['lat'] = ""

In [ ]:
addresses