# Introduction to Data Manipulation
- Loading files
- 1.0 - Now Try This
- 2.0 - Now Try This
- 3.0 - Now Try This
- 4.0 - Now Try This
- 5.0 - Now Try This
- 6.0 - Now Try This
- 7.0 - Now Try This

## Practical Exercise
- Loading files
- 8.0 - Now Try This
- 9.0 - Now Try This
- 10.0 - Now Try This
- 11.0 - Now Try This

## Loading files

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/bitprj/DigitalHistory/master/Week3-Introduction-to-Open-Data-Importing-Data-and-Basic-Data-Wrangling/data/titanic-dataset.csv'
df = pd.read_csv(url)
df

In [ ]:
df.set_index(keys='PassengerId', inplace=True)

## 1.0 - Now Try This

- Drop the rows that are missing any of the following columns: 'Pclass'
- Update ```df```

### Answer:

In [ ]:
df.dropna(subset=['Pclass'], inplace=True)

## 2.0 - Now Try This

Select PassengerId, Survived, and Pclass with all rows.

### Answer:

In [ ]:
df.iloc[: , [0,1,2]]

## 3.0 - Now Try This

Select PassengerId, Survived, and Pclass with all rows.
Please use semi-colon ```:``` this time.

### Answer:

In [ ]:
df.iloc[:, [0:3]]

## 4.0 - Now Try This

Select PassengerId, Survived, Sex, and Age.

### Answer:

In [ ]:
df[['Survived', 'Sex', 'Age']]

## 5.0 - Now Try This

Select the dataset that meet the following condition:
- Pclass is not 1

### Answer:

In [ ]:
df.loc[(df['Pclass'] != 1)]

## 6.0 - Now Try This

Select the dataset that meet the following conditions:
- Age is less than 10 
- OR
- Age is greater than 50

Hint: Don't forget parenthesis!

### Answer:

In [ ]:
df.loc[(df['Age'] < 10) | (df['Age'] > 50)]

## 7.0 - Now Try This

Then, some of us might be curious:

Would lower Pclass be more expensive or higher Pclass be more expensive?

We can answer the question by calculating the mean fares for each class.

**Calculate the mean fares for each Pclass!**

### Answer:

In [ ]:
df.groupby(['Pclass'])['Fare'].mean()

# Practical Exercise

## Loading files

In [ ]:
url = 'https://raw.githubusercontent.com/bitprj/DigitalHistory/master/Week3-Introduction-to-Open-Data-Importing-Data-and-Basic-Data-Wrangling/data/acs2017_county_data.csv'
df = pd.read_csv(url)
df

## 8.0 - Now Try This

CountyId is a unique identifier for each county and state.
- Set CountyId as an index.
- Update df

Hint: Use ```set_index``` and don't forget to update df

### Answer:

In [ ]:
df.set_index(keys='CountyId', inplace=True)

### Total population by state

Let's get total polution by state to select top 5 largest states by population.

In order to calculate this, we need to group by state, and we will need to get ```sum``` of ```TotalPop```.

## 9.0 - Now Try This
- Calculate total population by state from ```df_emp```
- Name the dataframe as ```state_pop```

### Answer:

In [ ]:
state_pop = df_emp.groupby(['State'])['TotalPop'].sum()

### Total number of employees by state
## 10.0 - Now Try This
- Calculate the total number of employees by state
- Sort by value
- Write down the state with the highest number of employees and the state with the lowest number of employees.

Hint: use ```groupby```

### Answer:

In [ ]:
five_states.groupby(['State'])['Employed'].sum().sort_values(ascending=False)

## 11.0 - Now Try This

### Step 1: Select california state only and save it as ```ca_transit```

### Answer:

In [ ]:
ca_transit = five_states.loc[five_states['State']=='California']

### Step 2: Calculate ```sum``` of all transit modes by ```county``` in California.

### Answer:

In [ ]:
ca_transit.groupby(['County'])['Drive','Carpool','Transit','Walk','OtherTransp','WorkAtHome'].sum()