<a href="https://colab.research.google.com/github/bitprj/DigitalHistory/blob/Atul/Week2-Introduction-to-Python-_-NumPy/Week_2_Homework_SOLUTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <div align = "center">Homework 2</div>
# <div align = "center">Python</div>

Welcome to Homework 2. In this homework you will be using techniques you learned throughout Week 2. The purpose of this homework is to ensure you've mastered the basics of Python. Feel free to refer to the cheatsheet while working through these problems.

## Grading 

Every question in this homework is worth 2 points. There are a total of 10 questions.

## Python Questions

### Q1: Create a function that, when passed two integers, calculates their product. If the product is less than 5000, return the product else return the sum.

In [ ]:
def mult_or_sum(num1, num2):
    product = num1 * num2
    if product <= 5000:
        return product
    else:
        return num1 + num2

number1 = 30
number2 = 400

result = mult_or_sum(number1, number2)
print("The result is", result)

The result is 430

### Q2: Given a range of numbers from 0-19, Iterate from start to end and print the sum of the current number and previous number.

In [ ]:
def sumNum(num):
    previousNum = 0
    for i in range(num):
        sum = previousNum + i
        print(sum)
        previousNum = i

sumNum(20)

0
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37

### Q3: Given a string, display only the characters in odd indices.

In [ ]:
def printOddIndices(str):
  for i in range(1, len(str)-1, 2):
    print(str[i])

inputStr = "python wizard" 

print("Printing only odd index chars")
printOddIndices(inputStr)

Printing only odd index chars
y
h
n
w
z
r

### Q4: Given two lists, create a third list by picking odd-index elements from the first list and even index elements from the second.

In [ ]:
listOne = [5, 3, 7, 52, 12, 78, 93]
listTwo = [7, 17, 9, 39, 19, 94, 81]
listThree = list()

oddElements = listOne[1::2]
print(oddElements)

EvenElement = listTwo[0::2]
print(EvenElement)

listThree.extend(oddElements)
listThree.extend(EvenElement)
print(listThree)

[3, 52, 78]
[7, 9, 19, 81]
[3, 52, 78, 7, 9, 19, 81]

### Q5: Given a list slice it into a 3 equal chunks and reverse each list.

EXPECTED OUTPUT:
Chunk  1 [91, 52, 84]

After reversing it  [84, 52, 91]

Chunk  2 [5, 92, 85]

After reversing it  [85, 92, 5]

Chunk  3 [27, 48, 30]

After reversing it  [30, 48, 27]

In [ ]:
vec = [91, 52, 84, 5, 92, 85, 27, 48, 30]

length = len(vec)
chunkSize  = int(length/3)
start = 0
end = chunkSize

for i in range(1, 4, 1):
  indices = slice(start, end, 1)
  chunk = vec[indices]
  print("Chunk ", i , chunk)
  print("After reversing it ", list(reversed(chunk)))
  start = end
  if(i != 2):
    end += chunkSize
  else:
    end += length - chunkSize

Chunk  1 [91, 52, 84]
After reversing it  [84, 52, 91]
Chunk  2 [5, 92, 85]
After reversing it  [85, 92, 5]
Chunk  3 [27, 48, 30]
After reversing it  [30, 48, 27]

### Q6: Given a list, iterate it, count the occurrence of each element and then create a dictionary to display the count of each element.

In [ ]:
vec = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", vec)

countDict = dict()
for item in vec:
  if(item in countDict):
    countDict[item] += 1
  else:
    countDict[item] = 1
  
print("Count of each item  ",countDict)

Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]
Count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

### Q7: Print this pattern.
1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5 

1 2 3 4 5 6 

1 2 3 4 5 6 7 

1 2 3 4 5 6 7 8 

1 2 3 4 5 6 7 8 9 

1 2 3 4 5 6 7 8 9 10

In [ ]:
lastNumber = 11
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

### Q8: Given a number, count the total number of digits and display it.

In [ ]:
num = 123456
count = 0
while num != 0:
    num //= 10
    count+= 1
print("Total digits are: ", count)

Total digits are:  6

### Q9: Given two strings, create a new string by appending the second string in the middle of the first one.

EXPECTED OUTPUT:

Original Strings are:  Shila angr

After appending new string in middle:  Shangrila

In [ ]:
def appendMiddle(s1, s2):
  middleIndex = int(len(s1) /2)
  print("Original Strings are: ", s1, s2)
  middleThree = s1[:middleIndex:]+ s2 +s1[middleIndex:]
  print("After appending new string in middle: ", middleThree)
  
appendMiddle("Shila", "angr")

Original Strings are:  Shila angr
After appending new string in middle:  Shangrila

### Q10: Rearrange a string such that lowercase letters come first.

In [ ]:
string_one = "SpOnGeBoB"
lower = []
upper = []
for char in string_one:
    if char.islower():
        lower.append(char)
    else:
        upper.append(char)
sorted_string = ''.join(lower + upper)
print("arranging characters giving precedence to lowercase letters:")
print(sorted_string)

arranging characters giving precedence to lowercase letters:
pneoSOGBB